<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>KHU동아리</title>
<link href="index.css" rel="stylesheet" type="text/css">

<link href="css/bootstrap.css" rel="stylesheet" type="text/css">

    <!--[if IE]>
        <script type="text/javascript">
             var console = { log: function() {} };
        </script>
    <![endif]-->

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>

    <script type="text/javascript" src="jquery.fullPage.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#fullpage').fullpage({
              sectionsColor: ['#1bbc9b', '#4BBFC3', '#7BAABE', 'whitesmoke', '#ccddff'],
              anchors: ['firstPage', 'secondPage', '3rdPage', '4thpage', 'lastPage'],
              menu: '#menu',
            });
        });
    </script>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body style="padding-top: 70px">
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#topFixedNavbar1" aria-expanded="false"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
      <a class="navbar-brand" href="#"></a></div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="topFixedNavbar1">
   
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">로그인</a></li>
        <li><a href="#">회원가입</a></li>
        <li><a href="#">      </a></li>
        <li><a href="#">내 동아리</a></li>
      </ul>
      </div>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
<div id="fullpage">
	<div class="section">
<div class="jumbotron">
  <div id="h1">
  <h1>경희대학교 국제캠퍼스의<br>
  동아리를<br>
  소개합니다</h1>
  <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
</div>
</div>
	<div class="section">
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">오늘의 동아리</h3>
  </div>
  <div class="panel-body"> 

	  <div class="col-xs-4">
	  	<div class="row">
	  	  <div class="col-md-12">
	  	    <div class="thumbnail"><img src="images/Thumbnail_Placeholder.png" alt="Thumbnail Image 1">
	  	      <div class="caption">
	  	        <h3>Thumbnail 1 label</h3>
	  	        <p>Optional content and buttons for Thumbnail #1</p>
	  	        <p><a href="#" class="btn btn-primary" role="button">Button</a><a href="#" class="btn btn-default" role="button">Button</a></p>
  	          </div>
  	        </div>
  	      </div>
  	    </div>
      </div>
      <div class="col-xs-4">
      	<div class="row">
	  	  <div class="col-md-12">
	  	    <div class="thumbnail"><img src="images/Thumbnail_Placeholder.png" alt="Thumbnail Image 1">
	  	      <div class="caption">
	  	        <h3>Thumbnail 1 label</h3>
	  	        <p>Optional content and buttons for Thumbnail #1</p>
	  	        <p><a href="#" class="btn btn-primary" role="button">Button</a><a href="#" class="btn btn-default" role="button">Button</a></p>
  	          </div>
  	        </div>
  	      </div>
  	    </div>
      </div>
      <div class="col-xs-4">
      	<div class="row">
	  	  <div class="col-md-12">
	  	    <div class="thumbnail"><img src="images/Thumbnail_Placeholder.png" alt="Thumbnail Image 1">
	  	      <div class="caption">
	  	        <h3>Thumbnail 1 label</h3>
	  	        <p>Optional content and buttons for Thumbnail #1</p>
	  	        <p><a href="#" class="btn btn-primary" role="button">Button</a><a href="#" class="btn btn-default" role="button">Button</a></p>
  	          </div>
  	        </div>
  	      </div>
  	    </div>
      </div>
       <div class="col-xs-4">
      	<div class="row">
	  	  <div class="col-md-12">
	  	    <div class="thumbnail"><img src="images/Thumbnail_Placeholder.png" alt="Thumbnail Image 1">
	  	      <div class="caption">
	  	        <h3>Thumbnail 1 label</h3>
	  	        <p>Optional content and buttons for Thumbnail #1</p>
	  	        <p><a href="#" class="btn btn-primary" role="button">Button</a><a href="#" class="btn btn-default" role="button">Button</a></p>
  	          </div>
  	        </div>
  	      </div>
  	    </div>
      </div>
       <div class="col-xs-4">
      	<div class="row">
	  	  <div class="col-md-12">
	  	    <div class="thumbnail"><img src="images/Thumbnail_Placeholder.png" alt="Thumbnail Image 1">
	  	      <div class="caption">
	  	        <h3>Thumbnail 1 label</h3>
	  	        <p>Optional content and buttons for Thumbnail #1</p>
	  	        <p><a href="#" class="btn btn-primary" role="button">Button</a><a href="#" class="btn btn-default" role="button">Button</a></p>
  	          </div>
  	        </div>
  	      </div>
  	    </div>
      </div>
       <div class="col-xs-4">
      	<div class="row">
	  	  <div class="col-md-12">
	  	    <div class="thumbnail"><img src="images/Thumbnail_Placeholder.png" alt="Thumbnail Image 1">
	  	      <div class="caption">
	  	        <h3>Thumbnail 1 label</h3>
	  	        <p>Optional content and buttons for Thumbnail #1</p>
	  	        <p><a href="#" class="btn btn-primary" role="button">Button</a><a href="#" class="btn btn-default" role="button">Button</a></p>
  	          </div>
  	        </div>
  	      </div>
  	    </div>
      </div>

      

</div>
</div>
</div>

	<div class="section">
<div class="panel panel-default">
 
<div class="panel-heading">
   
  <h3 class="panel-title">카테고리</h3>
  </div>
  
  <div class="panel-body">
       
	  	 
    <ul class="nav nav-pills">
      <div class="col-md-6">
      <li role="presentation"><a href="#">단과대</a></li>
      </div>
      <div class="col-md-6">
      <li role="presentation"><a href="#">중앙동아리</a></li>
      </div>
    </ul>
  </div>
  
  <div class="panel-body"> 
    <ul class="nav nav-pills">
      <li role="presentation"><a href="#">공연</a></li>
      <li role="presentation"><a href="#">체육</a></li>
      <li role="presentation"><a href="#">학술</a></li>
      <li role="presentation"><a href="#">사회</a></li>
      <li role="presentation"><a href="#">종교</a></li>
      <li role="presentation"><a href="#">취미교양</a></li>
      <li role="presentation"><a href="#">전시창작</a></li>
    </ul>
  </div>

  </div>
	<div class="section">

  <div class="panel-footer">
  <h6>경희대학교 국제캠퍼스 멋쟁이사자처럼 동아리 서비스입니다.<br>
Main director 멋사 5기 김도훈 Developer 멋사 5기 김보현 Developer 멋사 5기 서원석<br>
Tutor 멋사 3기 유재욱<br>
Copyright © 2017 멋쟁이사자처럼 at 경희대 국제 All rights reserved.</h6>
</div>
</div></div>
</div>



<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/bootstrap.js"></script>
</body>
</html>
